body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;

  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }

  .banner {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
      url("../images/banner.png");
    background-size: cover;
    padding-top: 16px;
    padding-left: 16px;

    .content {
      color: white;
      padding-top: 16px;
      height: 56px;
    }
  }

  core-menu {
    margin: 0px;

    paper-item {
      opacity: .30;
    }
  }
}

core-toolbar {
  color: #FAFAFA;
  background-color: #0288D1;
}
