$primary-color: #2196F3; /* blue */
$primary-dark: #1976D2;
$accent-color: #FF5722; /* deep orange */

body {
  background: #fafafa;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #333;
}



.big-icon {
  color: #737373;
  width: 26px;
  height: 26px;
}

paper-item::shadow #ripple, paper-item #ripple {
  color: $primary-dark;
}

paper-item {
  ::shadow #ripple {
    color: $primary-dark;
  }
}

paper-item.core-selected {
  color: $primary-dark;

  core-icon {
    color: $primary-dark;
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 40%;
  min-width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  padding-top: 10px;
}


.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

paper-dialog {
     width: 50%;
     min-width: 430px;
}

.post-column {
  width: 90%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
}


[drawer] {
  background-color: #EEEEEE;

  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }

  .banner {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
      url("../images/banner.png");
    background-size: cover;
    padding-top: 16px;
    padding-left: 16px;

    .content {
      color: white;
      padding-top: 16px;
      height: 56px;
    }
  }

  core-menu {
    margin: 0px;
  }

  core-item {
    padding: 0.9em 1em;
  }

  .nav-header {
    /*border-top: 1px solid #e6e6e6;*/
    font-weight: normal;
    margin-left: 16px;
    margin-bottom: 10px;
    opacity: 0.54;
  }

  .nav-text {
    margin-left: 16px;
  }
}

paper-checkbox::shadow #checkbox.checked {
  background-color: $primary-color;
  border-color: $primary-color;
}

paper-checkbox #checkbox.checked {
  background-color: $primary-color;
  border-color: $primary-color;
}

a {
  color: $primary-color;
}

[main] {

  ul {
    list-style-type: none;
  }

  paper-tabs {
    color: #FAFAFA;
    background-color: $primary-color;
  }

  core-toolbar {
    color: #FAFAFA;
    background-color: $primary-color;
  }
}
