/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

/* styles for the custom element itself - lowest specificity */
:host {
	display: block;
	border-bottom: 1px solid #e6e6e6;

	p {
		line-height: 1.4em;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		// font-family: roboto-light, 'Helvetica Neue', Arial, sans-serif;
	}
}

paper-shadow {
	padding: 20px;
}
